/********************************
 * Variables to customize theme *
 ********************************/

// Body and default variables
@maxWidthBody:                  960px;

@fontSizeBody:                  16px;
@fontFamilyBody:                @fontFamilyCambria;
@colorBody:                     #333333;

@linkColor:                     #666666;
@linkHoverColor:                @colorBody;
@linkActiveColor:               #888888;
@linkVisitedColor:              #777777;

@bgBody:                        #888888;
@bgHtml:                        @bgBody;
@bgWrapper:                     #ffffff;


// Magic number for vertical rythm
@magicNumber:                   @fontSizeBody * 1.375;

// Font sizes
@fontSizeH1:                    1.375em;
@fontSizeH2:                    1.25em;
@fontSizeH3:                    1.1875em;
@fontSizeH4:                    1.125em;
@fontSizeH5:                    1.0625em;
@fontSizeH6:                    1em;

@fontSizeSmall:                 0.875em;
@fontSizeSiteTitle:             3em;

// Font-families
@fontFamilyHeadings:            @fontFamilyCambria;
@fontFamilyCode:                @fontFamilyMonospace;
@fontFamilySiteTitle:           @fontFamilyCambria;

// Grid variables
@gutter-width: 	                20;
@columns:                       12;
@column-width: 	                60;
//@gridsystem-width:            (@column-width*@columns) + (@gutter-width*@columns) * 1px;
@total-width:                   100%;

// Breadcrumb numbers
@bread-height:                  @magicNumber * 2;
@bread-li-height:               @magicNumber;
@bread-li-topbot-padd:          5px;

/**
 * Color variables
 */

// Sitetitle colors 
@siteTitleColor:                #4481b2;
@siteSloganColor:               #666666;

// Navbar colors
@navbarColor1:                  @siteTitleColor;
@navbarColor2:                  #ffffff;
@usermenuColor1:                lighten(@siteTitleColor, 10%);
@usermenuColor2:                @navbarColor2;

// Breadcrumb colors
@bread-color:                   white;
@bread-last-color:              @colorBody;
@bread-start-color:             @siteTitleColor;

// Paging colors
@paging-color:                  white;
@paging-bg:                     @usermenuColor1;
@paging-bg-active:              @navbarColor1;
@paging-bg-hover:               lighten(@siteTitleColor, 5%);
@paging-border:                 @navbarColor1;

@color1:                        #444444;
@colorLighter:                  #666666;
@colorLight:                    #999999;
@colorBodyMark:                 @colorBody;
@colorSearchUrl:                #009933;

// User online / offline colors
@colorOnline:                   #00aa00;
@colorOffline:                  #DE0017;

@colorTableRowHover:            #222222;

@colorCommentLink:              #4481B2;

@markAnswerColor:               green;
@pinnedColor:                   #d30202;
@lockedColor:                   #d8c304;
@removedColor:                  @linkColor;

@linkColorAnonymous:            @colorBody;
@linkColorAnonymousHover:       #00c00c;

@borderColorLight: 	            #cccccc;

@borderColorTabElement:         #aaaaaa;
@borderColorTabElementHover:    #777777;
@borderColorTabElementSelected: #999999;
@borderColorTabBottom:          #cccccc;

@borderColorTableHeader:        #333333;
@borderColorTableRow:           #dddddd;
@borderColorTableRowHover:      #aaaaaa;

@bgBodyMark:                    #eeeeee;
@bgLight:                       #f6f6f6;

@linkTabBgColor:                lighten(@linkHoverColor, 35%);
@linkTabBgColorHover:           lighten(@linkHoverColor, 30%);
@linkTabBgColorActive:          lighten(@linkHoverColor, 35%);
@linkTabBgColorSelected:        @bgBody;

@bgTableStripe:                 @bgLight;

@inputDisabledBg:               #bbbbbb;

@inputBorder:                   @siteTitleColor;
@inputDisabledBorder:           lighten(@colorLighter, 10%);

@btnBg:                         @siteTitleColor;
@btnBgHover:                    @btnBg;
@btnBgActive:                   @btnBg;
@btnDisabledBg:                 @colorLighter;

@btnBorder:                     @btnBg;
@btnBorderHover:                darken(@btnBg, 10%);
@btnBorderActive:               lighten(@btnBg, 10%);
@btnDisabledBorder:             @inputDisabledBorder;

@btnColor:                      @navbarColor2;
@btnColorHover:                 @btnColor;
@btnColorActive:                @btnColor;

@validation-failed-box-shadow:  rgba(200, 0, 0, 0.85);
@validation-message-border:     rgba(200, 0, 0, 0.65);
@validation-message-bg:         #FFBEBC;

@tagColor:                      #ffffff;
@tagHoverBg:                    @siteTitleColor;
@tagBg:                         lighten(@tagHoverBg, 10%);

/** 
 * Font awesome
 */
 
@fa-font-path:                  "../../fonts";
@fa-font-size-base:             14px;
@fa-line-height-base:           1.2;
@fa-border-color:               #eee;
@fa-inverse:                    #fff;

/**
 * Page elements
 */

// Calender
@calenderMonthLabelBg:          @siteTitleColor;
@calenderMonthLabelColor:       #ffffff;
@calenderWeekHeaderBg:          #999999;
@calenderHeaderBg:              #ACABA9;
@calenderWeekBg:                #dddddd;
@calenderDayBg:                 #eeeeee;
@calenderRedDayColor:           #D00000;
@calenderWeekendColor:          #4481b2;
@calenderTodayBg:               @siteTitleColor;
@calenderNotThisMonthBg:        #cccccc;
@calenderNotThisMonthColor:     #777777;

// Dices
@dicesBg:                       url(../../img/dices/dice-faces-blue.png) no-repeat;
@dicesHeight:                   64px;
@dicesWidth:                    64px;